# Snakemake
.snakemake/

# Conda
.conda/

# DVC
/resources/*
!/resources/*.dvc
!/resources/.gitignore

# Test outputs
/test/results/
/test/logs/

# Logs
logs/

# Python
__pycache__/
*.py[cod]

# R
.Rhistory
.Rdata
.RData
*.Rproj.user/

# OS
.DS_Store
Thumbs.db

# VS Code
mkobj.code-workspace